.button{
    -fx-background-color: transparent;
    -fx-border-color: #6f6f6f;
    -fx-border-radius: 3;
    -fx-font-family: "Roboto";
    -fx-text-fill: #6f6f6f;
    -fx-font-size: 16;
}
.button:hover {
    -fx-background-color: #6f6f6f;
    -fx-background-radius: 3;
    -fx-text-fill: white;
}

