.table-view{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-border-color: #ff8e37;
    -fx-border-width: 2;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #ff8e37;
    -fx-text-size: 50;
}
.table-view .column-header .label {
    -fx-text-fill: #ff8e37;
    -fx-font-weight: bold;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover .text{
    -fx-fill: orange;
}
.table-row-cell:selected .text {
    -fx-fill: #ff8e37;
}
.table-row-cell:odd{
    -fx-background-color: #fccfa9;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #fff7f0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #ff8e37;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #ff8e37;
}

